<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <style>
        body {
            margin: 0;/*This removes the border around the canvas that Phaser adds, making the game actually take up all the available space*/
            background-color: #00aa76;
        }
    </style>
</head>
<body>
</body>
</html>
